
   
  

.quote-generator-container{
   
    width: 600px;
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
   
     
}
.quto-container{
    color:  hsla(192, 72%, 21%, 1);
}
.generate-btn{
   
    margin: 0 auto;
    text-align: center;
}
.generate-btn button{
    padding: 10px 15px;
    background: hsla(192, 72%, 21%, 1);

background: linear-gradient(90deg, hsla(192, 72%, 21%, 1) 0%, hsla(193, 49%, 28%, 1) 50%, hsla(192, 36%, 35%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(192, 72%, 21%, 1) 0%, hsla(193, 49%, 28%, 1) 50%, hsla(192, 36%, 35%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(192, 72%, 21%, 1) 0%, hsla(193, 49%, 28%, 1) 50%, hsla(192, 36%, 35%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0f4c5c", endColorstr="#255c6b", GradientType=1 );    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.generate-btn button:hover{
    opacity: .7;
}
.quote-author{
    display: flex;
    justify-content: end;
    color: gray;
    margin-top: -30px;
    font-style: italic;
}

@media screen  and (max-width: 740px){
    .quote-generator-container{
    width: 280px;
    margin: 0 auto;
    }
    
}