body {
  margin: 0;
  font-family: sans-serif;
 padding: 0;
 background-color: rgb(26, 25, 25);
 height: 100vh;

 flex-direction: column;
 width: 100vw;
 
 align-items: center;
 display: flex;
 
 align-items: center;
 justify-content: center;
}


